.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
  background: #000000;
}
.header__name {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 2rem;
  line-height: 135%;
  color: #ffffff;
}
